<div class="container" *ngIf="!showPlacesDetails">
  <mat-card class="card">
    <form [formGroup]="placesForm" (ngSubmit)="onSubmit(location.value)">
      <mat-card-title class="cardTitle">Recommended places</mat-card-title>
      <mat-form-field>
        <input matInput #location placeholder="Location" formControlName="location" required pattern="^[A-Za-z]+$">
        <mat-error *ngIf="location.required">Enter valid location!</mat-error>
      </mat-form-field>
      <button class="loginRegisterButton" mat-flat-button type="submit" color="primary" [disabled]="!placesForm.valid">
        Show places
      </button>
    </form>
  </mat-card>
</div>

<app-places-details *ngIf="showPlacesDetails" [locationInput]="locationOutput"
                    (errorGettingData)="handleError($event)"></app-places-details>

<div *ngIf="showPlacesDetails" class="backButtonContainer">
  <button class="backButton" mat-flat-button color="primary" type="button" (click)="hidePlaceDetails()">Back to form
  </button>
</div>
