.contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spanPadding {
  padding: 8px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.showHideChartButton {
  margin: 8px 0 8px 0;
  width: 50%;
  color: white;
  padding: 0;
}

.tiles {
  margin: 8px;
  width: 90%;
  display: flex;
  justify-content: center;
}

.mat-flat-button {
  background-color: rgb(18, 109, 140);
}

img {
  min-width: 48px;
}
