<mat-toolbar>
  <span class="floatLeft" fxShow.gt-sm></span>
  <div fxLayout="row" class="desktop" *ngIf="authService.isLoggedIn()">
    <button mat-button routerLink="/homepage">Homepage</button>
    <button mat-button routerLink="/hotelForm">Hotel Search</button>
    <button mat-button routerLink="/weatherForm">Weather</button>
    <button mat-button routerLink="/placesForm">Places</button>
    <button mat-button routerLink="/mySearches">My Searches</button>
    <button mat-button (click)="logout()">Logout</button>
  </div>
  <div fxLayout="row" class="desktop" *ngIf="!authService.isLoggedIn()">
    <button mat-button routerLink="/login">
      <mat-icon>people</mat-icon>
      Login
    </button>
    <button mat-button routerLink="/register">
      <mat-icon>people</mat-icon>
      Register
    </button>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu xPosition="before" yPosition="below" #menu="matMenu">
  <button mat-menu-item routerLink="/homepage" *ngIf="authService.isLoggedIn()">Homepage</button>
  <button mat-menu-item routerLink="/hotelForm" *ngIf="authService.isLoggedIn()">Hotel Search</button>
  <button mat-menu-item routerLink="/weatherForm" *ngIf="authService.isLoggedIn()">Weather</button>
  <button mat-menu-item routerLink="/placesForm" *ngIf="authService.isLoggedIn()">Places</button>
  <button mat-menu-item routerLink="/mySearches" *ngIf="authService.isLoggedIn()">My Searches</button>
  <button mat-menu-item (click)="logout()" *ngIf="authService.isLoggedIn()">Logout</button>
  <button mat-menu-item routerLink="login" *ngIf="!authService.isLoggedIn()">Login</button>
  <button mat-menu-item routerLink="register" *ngIf="!authService.isLoggedIn()">Register</button>
</mat-menu>

<router-outlet></router-outlet>
