<div>
  <h2 align="center">My statistics</h2>
  <div class="statContainer">
    <span>Hotel search: {{hotelSearchCount}} time(s)</span>
    <span>Weather search: {{weatherSearchCount}} time(s)</span>
    <span>Place search: {{placeSearchCount}} time(s)</span>
  </div>
</div>

<div class="container">
  <mat-card class="card">
    <form [formGroup]="modifyUserForm" (ngSubmit)="onSubmit()">
      <mat-card-title class="cardTitle">Modify user</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" placeholder="Username" value="" formControlName="username" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="E-mail address" value="" formControlName="email" required>
          <mat-error *ngIf="email.errors?.pattern">Enter valid e-mail address!</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" value="" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password again" value="" formControlName="passwordAgain" required>
        </mat-form-field>
      </mat-card-content>
      <button class="loginRegisterButton" mat-flat-button type="submit" color="primary" [disabled]="!modifyUserForm.valid">Modify
      </button>
    </form>
  </mat-card>
</div>

