.tiles {
  margin: 8px;
  width: 350px;
  display: flex;
}

.cardsContainer {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}

.detailsContainer {
  display: flex;
  flex-flow: column;
}

.spanPadding {
  padding: 8px;
}

.infoIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.backButtonContainer {
  display: flex;
  padding: 12px;
  justify-content: center;
}

.backButton {
  width: 50%;
}

.mat-flat-button {
  background-color: rgb(18, 109, 140);
}
